aiohappyeyeballs
aiohttp>=3.11.0
aiohttp-retry
aiosignal
antiorm
asgiref
async-timeout
attrs
boto3
botocore
cachetools
certifi
charset-normalizer
colorama
coverage
db
db-sqlite3
diff-match-patch
Django>=5.0.0
django-auditlog
django-cors-headers>=4.3.0
django-import-export
django-otp
djangorestframework>=3.14.0
djangorestframework_simplejwt
exceptiongroup
frozenlist
google-auth
gunicorn
idna
iniconfig
jmespath
multidict
packaging
pluggy
propcache
psycopg2-binary>=2.9.9  # For PostgreSQL support
pyasn1
pyasn1_modules
PyJWT
pytest
pytest-django
python-dateutil
python-dotenv>=1.0.0
pytz
requests
rsa
s3transfer
six
sqlparse
tablib
tomli
twilio
typing_extensions
tzdata
urllib3
whitenoise
yarl
pyotp
qrcode
# Development
django-debug-toolbar>=4.2.0
