aiohappyeyeballs
aiohttp>=3.11.0
aiohttp-retry
aiosignal
antiorm
asgiref
async-timeout
attrs
boto3
botocore
cachetools
certifi
charset-normalizer
colorama
coverage
db
db-sqlite3
diff-match-patch
Django>=5.1.0
django-auditlog
django-cors-headers
django-import-export
django-otp
djangorestframework>=3.15.0
djangorestframework_simplejwt
exceptiongroup
frozenlist
google-auth
gunicorn
idna
iniconfig
jmespath
multidict
packaging
pluggy
propcache
psycopg2-binary>=2.9.0
pyasn1
pyasn1_modules
PyJWT
pytest
pytest-django
python-dateutil
python-dotenv
pytz
requests
rsa
s3transfer
six
sqlparse
tablib
tomli
twilio
typing_extensions
tzdata
urllib3
whitenoise
yarl
pyotp
qrcode
